body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    width: 400px;
    margin: 50px auto;
    text-align: center;
  }
  
  h1 {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
  }
  
  ul{
    display: block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #25da25;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  