body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f2f2f2;
  }
  
  .container {
    width: 300px;
    padding: 30px;
    background-color: #fff;
    border-radius: 5px;
  }
  
  h1 {
    margin-bottom: 10px;
    font-size: 20px;
    text-align: center;
  }
  
  p {
    margin-bottom: 15px;
    font-size: 14px;
    text-align: center;
  }
  
  form {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
  }
  
  label {
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 100%;
  }
  
  a {
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    background-color: #2bca12;
    color: #fff;
    cursor: pointer;
  }
  